<div class="container col-lg-3">
    <div class="card text-center">
      <div class="card-header">
        User Registration
      </div>
      <div class="card-block">
          <%= form_for(:user, :url => registration_path(:user)) do |f| %>
            <%= f.text_field :email, class: "form-control", placeholder: "Enter E-mail", autofocus: true %>
            <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
            <%= f.submit 'Sign Up', class: "btn btn-primary" %>
          <% end %>
          <%= devise_error_messages! %>
      </div>
      <div class="card-footer text-muted">
        New User Registration
      </div>
    </div>
</div>

<%= render "devise/shared/links" %>
