<div class="container">
	<h1 class="new-title">CREATE NEW TASK</h1>
	<div class="form-container">
		<%= form_for [@goal,@task] do |f| %>
			<%= f.label :title , "my task is to:" , :class => "form-title" %><br>
			<%= f.text_field :title , :class => "form-title-input" %><br>
			<%= f.label :description , :class => "form-desc" %><br>
			<%= f.text_area :description , :class => "form-desc-input" %><br>
			<%= f.label :end_date , :class => "form-end" %><br>
			<%= f.date_field :end_date , :class => "form-end-date"%><br>
			<%= f.submit "Submit Task" , :class => "goal-submit" %>
		 <% end %>
	 </div>
 </div>