<div class="container">
	<div class="goal-container">
		<div id="my-goal-box">
			<h1 id="my-goals">Goals</h1>
			<%= button_to "Create New Goal" , new_goal_path , :class => "btn btn-info", :method => :get %>
		</div>
		<% @goals.each do |goal| %>

			<div class="card">
				<img src="" class="card-img-top" alt="caps">
				<div class="card-block">
					<h2 class="card-title"><%= goal.title %></h2>
					<p class="card-text"><%= goal.description %></p>
					<!-- <p>I want to accomplish this by: <%= goal.end_date%></p> -->
					<%= button_to "Show Goal", goal_path(goal.id) , :class => "btn btn-primary", :method => :get %>
					<% if goal.completed_at.nil? == true %>
						<p>GOAL ACCOMPLISHED!</p>
					<% end %>
				</div>
			</div>

		<% end %>
	</div>
</div>
