<p>Users should only be allowed to edit title and description. THE MOST IMPORTANT ASPECT IS THE END_DATE</p>


<%= form_for @goal do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<%= f.submit "Edit" %>
<% end %>

