<div class="container">
	<h1 class="new-title">EDIT GOAL</h1>
	<div class="form-container">
		<%= form_for @goal do |f| %>
			<%= f.label :title , "my goal is to: " , :class => "form-title" %><br>
			<%= f.text_field :title , :class => "form-title-input" %><br>
			<%= f.label :description , :class => "form-desc" %><br>
			<%= f.text_area :description , :class => "form-desc-input" %><br>
			<%= f.submit "Edit" , :class => "goal-submit" %>
		<% end %>
	</div>
</div>
