<h1>Goals for <%= current_user.email %></h1>

<%= @goal.title %>
<%= @goal.description %>
<%= @goal.end_date.strftime("%m/%d/%Y") %>


<li><%= link_to "Goal Tasks" ,goal_tasks_path(@goal) %></li>

<%= link_to "Edit Goal" , edit_goal_path(@goal) %>


